block vars

doctype html
html( lang="pt-br" )
	head
		title #{ section || 'Título'}

		meta( charset="UTF-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1.0" )

		block metatags

		link( rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.min.css"  )

		block styles
		block scripts

	body

		include /components/navbar

		main.main.container
			block content
