<!DOCTYPE html>
<%
	var style = '/css/main.css';
	var javascript = '/js/main.js';
%>
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<link rel="stylesheet" href="<%=style%>" type="text/css" />
		<script type="text/javascript" src="<%=javascript%>" async></script>
	</head>
	<body>

		<section class="container">

			<%- include ../partial/header %>

			<h2>Query String and parameters</h2>
			<p>This is just a simple example about how to get request parameters</p>
			<p>Try to send querystring parameter like : ?name=My-Name-Is-Howard</p>

		</section>

	</body>
</html>
