{% extends 'layouts/index.htm' %}

{% block content %}
	<section class="page-header text-center">
		<h1>JerryMice <br /><small>Hello World!</small></h1>
	</section>

	<section class="text-center">

		<h3>Congrats! If you're seeing me than it works!</h3>
		<h4>Bootstrap is running, now you're ready to begin your development.</h4>
		<h4>Rename your files, create new folders and set you project from here.</h4>

		<br />
		<p>
			This is <span class="label label-primary">home</span> page located at: <strong>www/views/index.htm</strong>
		</p>

	</section>
{% endblock %}
