{% extends 'layouts/index.htm' %}

{% block content %}

<section class="page-header text-center">
	<h1>JerryMice <br /><small>Internal Page </small></h1>
</section>

<section class="text-center">

	<h4>Now you can create any folder inside <strong>views</strong> and it will be acessed by the same name on url.</h4>

	<p>
		You can create folders to keep your partials and name them as you wish.<br />
		Some folders are required to JerryMice work :
		<span class="label label-primary">apis</span>
		<span class="label label-primary">views</span>
		<span class="label label-primary">layouts</span>
	</p>

	<h5 class="lead">Acessing Api example: ( Look at the <strong>pages/index.htm</strong> code )</h5>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<ul class="list-group">
				{% for item in api('folder/list').items %}
					<li class="list-group-item {{ item.active }}">
						{{ item.text }}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

</section>

<hr />

<section class="text-center container">
	<p>
		Use the global variables to help you<br />
		<strong class="label label-warning">api()</strong>
		<strong class="label label-warning">data</strong>
		<strong class="label label-warning">site</strong>
		<strong class="label label-warning">require</strong>
		<strong class="label label-warning">response</strong>
		<strong class="label label-warning">request</strong>
	</p>
</section>

<section class="text-center">
	<p class="lead">And... feel confortable to open jerrymice, read express.js documentation and of course, fork this project and help us =)</p>
</section>
{% endblock %}
