<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<%
			site.section = site.section || ['Section'];
			site.title   = site.title || 'JerryMice - Layout Default';
		%>
		<title><%=site.title%></title>
		<%- include('../components/head.htm') %>
	</head>

	<body>

		<main>
			<header>
				<%- include('../components/navbar.htm', { breadcrumb :site.section }); %>
			</header>

			<section class="body container">
				<%- site.content %>
			</section>
		</main>

		<footer class="text-center">
			<hr />
			<ul class="list-unstyled">
				<li><a href="https://bootswatch.com"><strong>Theme</strong> : bootswatch.com</a></li>
				<li><a href="https://getbootstrap.com"><strong>Powered By</strong> : getbootstrap.com</a></li>
			</ul>
		</footer>

	</body>
</html>
